@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Play", sans-serif;
  line-height: 1.2;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

*::-webkit-scrollbar {
  display: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

h1 {
  color: rgb(68, 68, 68);
  text-align: center;
  color: #000;
}

h2 {
  color: rgb(68, 68, 68);
  text-align: center;
  color: #000;
}

.mb50 {
  margin-bottom: 50px;
}

.works-block {
  margin-bottom: 40px;
}

.works-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}

.works-block__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}

.works-block__first-item {
  display: block;
}

.works-block__item-img {
  width: 100%;
  border-bottom: 11px solid #f1a90f;
}

p.text {
  font-size: 16px;
  line-height: 1.6;
  color: rgb(68, 68, 68);
}

.price-blocks {
  margin-bottom: 30px;
}

.price-blocks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price-blocks__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  min-width: 300px;
}

.price-blocks__item-title {
  color: #ffff99;
  background-color: #000;
  text-align: center;
}

.price-blocks__item-img img {
  width: 100%;
}

.price-blocks__item-price {
  background-color: #000;
  color: #fff;
  text-align: center;
}

.price-blocks__item-action {
  background: rgb(237, 237, 0);
  -webkit-box-shadow: rgb(221, 51, 51) 0px 3px;
          box-shadow: rgb(221, 51, 51) 0px 3px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.contact-section__container {
  margin-bottom: 120px;
}

.contact-section__block {
  background: #2e2925;
  border-radius: 7px;
  border: 4px double #ddc59f;
  -webkit-box-shadow: 2px 1px 30px 0px rgba(89, 89, 89, 0.87);
          box-shadow: 2px 1px 30px 0px rgba(89, 89, 89, 0.87);
  background-color: rgb(46, 41, 37);
  max-width: 340px;
  margin: 0 auto;
}

.contact-section__title {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.contact-section__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px;
}

.contact-section__form .phone {
  color: #fff;
  display: block;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
  -webkit-transition: scale 0.25s ease;
  -o-transition: scale 0.25s ease;
  transition: scale 0.25s ease;
}

.contact-section__form .phone:hover {
  opacity: 1;
  scale: 1.05;
}

.contact-section__form-input {
  display: block;
  display: block;
  width: 100%;
  border-radius: 7px;
  color: #000;
}

.contact-section__form-input::-webkit-input-placeholder {
  color: #000;
}

.contact-section__form-input::-moz-placeholder {
  color: #000;
}

.contact-section__form-input:-ms-input-placeholder {
  color: #000;
}

.contact-section__form-input::-ms-input-placeholder {
  color: #000;
}

.contact-section__form-input::placeholder {
  color: #000;
}

.contact-section__form-submit {
  text-transform: uppercase;
  background-color: #f9a02c;
  border-radius: 7px;
  padding: 7px 10px;
  cursor: pointer;
  -webkit-transition: scale 0.25s ease;
  -o-transition: scale 0.25s ease;
  transition: scale 0.25s ease;
}

.contact-section__form-submit:hover {
  scale: 1.05;
}

.portfolio-section__container .title {
  text-align: center;
  margin-top: 10px;
}

a {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

a:hover {
  opacity: 0.6;
}

.header {
  background-color: #211e1b;
  color: #fff;
  line-height: 1;
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 3;
}

.header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__logo {
  position: relative;
  z-index: 3;
}

.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
}

.header .menu__item {
  font-size: 16px;
  white-space: nowrap;
}

.header .header-phone {
  color: #fff;
  display: block;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
  -webkit-transition: scale 0.25s ease;
  -o-transition: scale 0.25s ease;
  transition: scale 0.25s ease;
}

.header .header-phone:hover {
  opacity: 1;
  scale: 1.05;
}

.menu-open {
  position: relative;
}

.icon-menu {
  display: none;
}

.footer {
  background: rgb(48, 48, 48);
  padding: 20px 0;
}

.footer .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .menu__link,
.footer .phone,
.footer .copy {
  color: #fff;
}

.footer .phone {
  color: #fff;
  display: block;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
  -webkit-transition: scale 0.25s ease;
  -o-transition: scale 0.25s ease;
  transition: scale 0.25s ease;
}

.footer .phone:hover {
  opacity: 1;
  scale: 1.05;
}

.footer .copy {
  opacity: 0.7;
  margin-top: 30px;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 61.99875em) and (min-width: 75em) {
  .price-blocks__item-title {
    font-size: 1.5rem;
  }
}

@media (min-width: 61.99875em) {
  .header .phone-center {
    display: none;
  }
}

@media (min-width: 75em) {
  h1 {
    font-size: 2.375rem;
  }

  h1 {
    margin-bottom: 1.25rem;
  }

  h2 {
    font-size: 2.0625rem;
  }

  h2 {
    margin-bottom: 1.25rem;
  }

  .section {
    padding-top: 6.25rem;
  }

  .price-blocks__list {
    margin-left: -0.9375rem;
  }

  .price-blocks__list {
    margin-right: -0.9375rem;
  }

  .price-blocks__item {
    margin-left: 0.9375rem;
  }

  .price-blocks__item {
    margin-right: 0.9375rem;
  }

  .price-blocks__item {
    margin-bottom: 1.875rem;
  }

  .price-blocks__item-title {
    font-size: 1.125rem;
  }

  .price-blocks__item-title {
    padding: 0.625rem;
  }

  .price-blocks__item-price {
    padding: 0.625rem;
  }

  .price-blocks__item-price {
    font-size: 1.125rem;
  }

  .price-blocks__item-action {
    padding: 0.625rem;
  }

  .price-blocks__item-action {
    font-size: 1.25rem;
  }

  .contact-section__title {
    font-size: 1.125rem;
  }

  .contact-section__title {
    margin-bottom: 1.25rem;
  }

  .contact-section__form-input {
    padding: 0.625rem;
  }

  .contact-section__form-input {
    margin-bottom: 1.25rem;
  }

  .contact-section__form-submit {
    margin-bottom: 1.25rem;
  }

  .header {
    height: 5rem;
  }

  .header .header__menu {
    padding-top: 0.75rem;
  }

  .header .header__menu {
    padding-bottom: 0.75rem;
  }

  .header .header__logo {
    font-size: 1.5625rem;
  }

  .header .menu__item + .menu__item {
    margin-left: 2.5rem;
  }

  .footer {
    font-size: 1.125rem;
  }
}

@media (max-width: 20em) {
  h1 {
    font-size: 1.625rem;
  }

  h1 {
    margin-bottom: 1.25rem;
  }

  h2 {
    font-size: 1.375rem;
  }

  h2 {
    margin-bottom: 1.25rem;
  }

  .section {
    padding-top: 1.25rem;
  }

  .price-blocks__list {
    margin-left: -0.3125rem;
  }

  .price-blocks__list {
    margin-right: -0.3125rem;
  }

  .price-blocks__item {
    margin-left: 0.3125rem;
  }

  .price-blocks__item {
    margin-right: 0.3125rem;
  }

  .price-blocks__item {
    margin-bottom: 1.875rem;
  }

  .price-blocks__item-title {
    font-size: 1.125rem;
  }

  .price-blocks__item-title {
    padding: 0.3125rem;
  }

  .price-blocks__item-price {
    padding: 0.3125rem;
  }

  .price-blocks__item-price {
    font-size: 1rem;
  }

  .price-blocks__item-action {
    padding: 0.3125rem;
  }

  .price-blocks__item-action {
    font-size: 1rem;
  }

  .contact-section__title {
    font-size: 1.125rem;
  }

  .contact-section__title {
    margin-bottom: 1.25rem;
  }

  .contact-section__form-input {
    padding: 0.3125rem;
  }

  .contact-section__form-input {
    margin-bottom: 1.25rem;
  }

  .contact-section__form-submit {
    margin-bottom: 1.25rem;
  }

  .header {
    height: 4.0625rem;
  }

  .header .header__menu {
    padding-top: 0.1875rem;
  }

  .header .header__menu {
    padding-bottom: 0.1875rem;
  }

  .header .header__logo {
    font-size: 1rem;
  }

  .header .menu__item + .menu__item {
    margin-left: 0.3125rem;
  }

  .footer {
    font-size: 1rem;
  }
}

@media (max-width: 61.99875em) and (max-width: 20em) {
  .hero-section {
    padding-top: 5rem;
  }

  .menu-open .menu__body {
    padding-top: 8.125rem;
  }
}

@media (max-width: 61.99875em) {
  .header .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 300px;
  }

  .header .menu__list .brand-btn {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header .menu__body {
    position: absolute;
    left: -2000px;
    opacity: 0;
    -webkit-transition: left 0.25s ease-in-out;
    -o-transition: left 0.25s ease-in-out;
    transition: left 0.25s ease-in-out;
  }

  .header .menu__item {
    font-size: 28px;
    margin-bottom: 25px;
    text-align: center;
  }

  .header .menu__item + .menu__item {
    margin-left: 0px;
  }

  .menu-open .menu__body {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #211e1b;
    padding-top: 130px;
    opacity: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    z-index: 2;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer .menu__item {
    margin-bottom: 20px;
  }

  .footer .copy {
    text-align: center;
  }
}

@media (max-width: 47.99875em) {
  .works-block__first-item {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 29.99875em) {
  .header .phone-center {
    display: none;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 1.625rem , 1.3522727273rem  +  1.3636363636vw , 2.375rem )) {
    h1 {
      font-size: clamp( 1.625rem , 1.3522727273rem  +  1.3636363636vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.3522727273rem  +  1.3636363636vw , 2.375rem )) {
    h1 {
      font-size: calc(1.625rem + 0.75 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    h1 {
      margin-bottom: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    h1 {
      margin-bottom: calc(1.25rem + 0 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.375rem , 1.125rem  +  1.25vw , 2.0625rem )) {
    h2 {
      font-size: clamp( 1.375rem , 1.125rem  +  1.25vw , 2.0625rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.125rem  +  1.25vw , 2.0625rem )) {
    h2 {
      font-size: calc(1.375rem + 0.6875 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    h2 {
      margin-bottom: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    h2 {
      margin-bottom: calc(1.25rem + 0 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.5681818182rem  +  9.0909090909vw , 6.25rem )) {
    .section {
      padding-top: clamp( 1.25rem , -0.5681818182rem  +  9.0909090909vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.5681818182rem  +  9.0909090909vw , 6.25rem )) {
    .section {
      padding-top: calc(1.25rem + 5 * (100vw - 20rem) / 55);
    }
}

@supports (margin-left: clamp( -0.9375rem , -0.0852272727rem  +  -1.1363636364vw , -0.3125rem )) {
    .price-blocks__list {
      margin-left: clamp( -0.9375rem , -0.0852272727rem  +  -1.1363636364vw , -0.3125rem );
    }
}

@supports not (margin-left: clamp( -0.9375rem , -0.0852272727rem  +  -1.1363636364vw , -0.3125rem )) {
    .price-blocks__list {
      margin-left: calc(-0.3125rem + -0.625 * (100vw - 20rem) / 55);
    }
}

@supports (margin-right: clamp( -0.9375rem , -0.0852272727rem  +  -1.1363636364vw , -0.3125rem )) {
    .price-blocks__list {
      margin-right: clamp( -0.9375rem , -0.0852272727rem  +  -1.1363636364vw , -0.3125rem );
    }
}

@supports not (margin-right: clamp( -0.9375rem , -0.0852272727rem  +  -1.1363636364vw , -0.3125rem )) {
    .price-blocks__list {
      margin-right: calc(-0.3125rem + -0.625 * (100vw - 20rem) / 55);
    }
}

@supports (margin-left: clamp( 0.3125rem , 0.0852272727rem  +  1.1363636364vw , 0.9375rem )) {
    .price-blocks__item {
      margin-left: clamp( 0.3125rem , 0.0852272727rem  +  1.1363636364vw , 0.9375rem );
    }
}

@supports not (margin-left: clamp( 0.3125rem , 0.0852272727rem  +  1.1363636364vw , 0.9375rem )) {
    .price-blocks__item {
      margin-left: calc(0.3125rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (margin-right: clamp( 0.3125rem , 0.0852272727rem  +  1.1363636364vw , 0.9375rem )) {
    .price-blocks__item {
      margin-right: clamp( 0.3125rem , 0.0852272727rem  +  1.1363636364vw , 0.9375rem );
    }
}

@supports not (margin-right: clamp( 0.3125rem , 0.0852272727rem  +  1.1363636364vw , 0.9375rem )) {
    .price-blocks__item {
      margin-right: calc(0.3125rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.875rem  +  0vw , 1.875rem )) {
    .price-blocks__item {
      margin-bottom: clamp( 1.875rem , 1.875rem  +  0vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.875rem  +  0vw , 1.875rem )) {
    .price-blocks__item {
      margin-bottom: calc(1.875rem + 0 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.125rem , 1.125rem  +  0vw , 1.125rem )) {
    .price-blocks__item-title {
      font-size: clamp( 1.125rem , 1.125rem  +  0vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.125rem  +  0vw , 1.125rem )) {
    .price-blocks__item-title {
      font-size: calc(1.125rem + 0 * (100vw - 20rem) / 55);
    }
}

@supports (padding: clamp( 0.3125rem , 0.1988636364rem  +  0.5681818182vw , 0.625rem )) {
    .price-blocks__item-title {
      padding: clamp( 0.3125rem , 0.1988636364rem  +  0.5681818182vw , 0.625rem );
    }
}

@supports not (padding: clamp( 0.3125rem , 0.1988636364rem  +  0.5681818182vw , 0.625rem )) {
    .price-blocks__item-title {
      padding: calc(0.3125rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (padding: clamp( 0.3125rem , 0.1988636364rem  +  0.5681818182vw , 0.625rem )) {
    .price-blocks__item-price {
      padding: clamp( 0.3125rem , 0.1988636364rem  +  0.5681818182vw , 0.625rem );
    }
}

@supports not (padding: clamp( 0.3125rem , 0.1988636364rem  +  0.5681818182vw , 0.625rem )) {
    .price-blocks__item-price {
      padding: calc(0.3125rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem )) {
    .price-blocks__item-price {
      font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem )) {
    .price-blocks__item-price {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 55);
    }
}

@supports (padding: clamp( 0.3125rem , 0.1988636364rem  +  0.5681818182vw , 0.625rem )) {
    .price-blocks__item-action {
      padding: clamp( 0.3125rem , 0.1988636364rem  +  0.5681818182vw , 0.625rem );
    }
}

@supports not (padding: clamp( 0.3125rem , 0.1988636364rem  +  0.5681818182vw , 0.625rem )) {
    .price-blocks__item-action {
      padding: calc(0.3125rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem )) {
    .price-blocks__item-action {
      font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem )) {
    .price-blocks__item-action {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.125rem , 1.125rem  +  0vw , 1.125rem )) {
    .contact-section__title {
      font-size: clamp( 1.125rem , 1.125rem  +  0vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.125rem  +  0vw , 1.125rem )) {
    .contact-section__title {
      font-size: calc(1.125rem + 0 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .contact-section__title {
      margin-bottom: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .contact-section__title {
      margin-bottom: calc(1.25rem + 0 * (100vw - 20rem) / 55);
    }
}

@supports (padding: clamp( 0.3125rem , 0.1988636364rem  +  0.5681818182vw , 0.625rem )) {
    .contact-section__form-input {
      padding: clamp( 0.3125rem , 0.1988636364rem  +  0.5681818182vw , 0.625rem );
    }
}

@supports not (padding: clamp( 0.3125rem , 0.1988636364rem  +  0.5681818182vw , 0.625rem )) {
    .contact-section__form-input {
      padding: calc(0.3125rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .contact-section__form-input {
      margin-bottom: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .contact-section__form-input {
      margin-bottom: calc(1.25rem + 0 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .contact-section__form-submit {
      margin-bottom: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .contact-section__form-submit {
      margin-bottom: calc(1.25rem + 0 * (100vw - 20rem) / 55);
    }
}

@supports (height: clamp( 4.0625rem , 3.7215909091rem  +  1.7045454545vw , 5rem )) {
    .header {
      height: clamp( 4.0625rem , 3.7215909091rem  +  1.7045454545vw , 5rem );
    }
}

@supports not (height: clamp( 4.0625rem , 3.7215909091rem  +  1.7045454545vw , 5rem )) {
    .header {
      height: calc(4.0625rem + 0.9375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 0.1875rem , -0.0170454545rem  +  1.0227272727vw , 0.75rem )) {
    .header .header__menu {
      padding-top: clamp( 0.1875rem , -0.0170454545rem  +  1.0227272727vw , 0.75rem );
    }
}

@supports not (padding-top: clamp( 0.1875rem , -0.0170454545rem  +  1.0227272727vw , 0.75rem )) {
    .header .header__menu {
      padding-top: calc(0.1875rem + 0.5625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 0.1875rem , -0.0170454545rem  +  1.0227272727vw , 0.75rem )) {
    .header .header__menu {
      padding-bottom: clamp( 0.1875rem , -0.0170454545rem  +  1.0227272727vw , 0.75rem );
    }
}

@supports not (padding-bottom: clamp( 0.1875rem , -0.0170454545rem  +  1.0227272727vw , 0.75rem )) {
    .header .header__menu {
      padding-bottom: calc(0.1875rem + 0.5625 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1rem , 0.7954545455rem  +  1.0227272727vw , 1.5625rem )) {
    .header .header__logo {
      font-size: clamp( 1rem , 0.7954545455rem  +  1.0227272727vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.7954545455rem  +  1.0227272727vw , 1.5625rem )) {
    .header .header__logo {
      font-size: calc(1rem + 0.5625 * (100vw - 20rem) / 55);
    }
}

@supports (margin-left: clamp( 0.3125rem , -0.4829545455rem  +  3.9772727273vw , 2.5rem )) {
    .header .menu__item + .menu__item {
      margin-left: clamp( 0.3125rem , -0.4829545455rem  +  3.9772727273vw , 2.5rem );
    }
}

@supports not (margin-left: clamp( 0.3125rem , -0.4829545455rem  +  3.9772727273vw , 2.5rem )) {
    .header .menu__item + .menu__item {
      margin-left: calc(0.3125rem + 2.1875 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem )) {
    .footer {
      font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem )) {
    .footer {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 55);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 75em) {
  .hero-section {
    padding-top: 6.25rem;
  }

  .menu-open .menu__body {
    padding-top: 10.625rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 75em) {
@supports (padding-top: clamp( 5rem , 4.5454545455rem  +  2.2727272727vw , 6.25rem )) {
    .hero-section {
      padding-top: clamp( 5rem , 4.5454545455rem  +  2.2727272727vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 5rem , 4.5454545455rem  +  2.2727272727vw , 6.25rem )) {
    .hero-section {
      padding-top: calc(5rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 8.125rem , 7.2159090909rem  +  4.5454545455vw , 10.625rem )) {
    .menu-open .menu__body {
      padding-top: clamp( 8.125rem , 7.2159090909rem  +  4.5454545455vw , 10.625rem );
    }
}

@supports not (padding-top: clamp( 8.125rem , 7.2159090909rem  +  4.5454545455vw , 10.625rem )) {
    .menu-open .menu__body {
      padding-top: calc(8.125rem + 2.5 * (100vw - 20rem) / 55);
    }
}
}

@media (min-width: 61.99875em) and (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
    .price-blocks__item-title {
      font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
    .price-blocks__item-title {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 55);
    }
}
}

@media (min-width: 61.99875em) and (max-width: 20em) {
  .price-blocks__item-title {
    font-size: 1rem;
  }
}